{% extends "base.html" %}

{% block title %}
<title> 欧赔历史记录 -- {{ match_id }} </title>
{% endblock %}

{% block content %}

{% for company_id, items in history.items %}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>主胜</th>
            <th>和</th>
            <th>客胜</th>
            <th>变化时间</th>
        </tr>
    </thead>

    <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                {% for record in item %}
                <td>{{ record }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endfor %}

{% endblock %}
