{% extends "base.html" %}

{% block title %}
<title> 比赛列表 </title>
{% endblock %}

{% block content %}

<table class="table">
    <caption>今日比赛列表(共 {{ match_list|length }} 场)</caption>

    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>比赛时间</th>
            <th>联赛</th>
            <th>主队</th>
            <th>客队</th>
            <th>滚球</th>
            <th>关注状态</th>
        </tr>
    </thead>

    <tbody>
        {% for item in match_list %}
        <tr id="{{ item.match_id }}" class="status-{{ item.status }}" href="{% url "europe" item.match_id %}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.match_id }}</td>
            <td>{{ item.match_time }}</td>
            <td>{{ item.league }}</td>
            <td>{{ item.home }}</td>
            <td>{{ item.visiting }}</td>
            <td>{{ item.is_betting }}</td>
            <td class="status-now">{{ item.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block js %}
<script>

$(document).ready(function () {
    $("tr.status-0").each(function() {
        var obj = $(this);

        $.getJSON(obj.attr("href"), function(result) {
            if ($.isEmptyObject(result)) {
                obj.removeClass('status-0').addClass('status-2');
                obj.find('.status-now').first().text('忽略');
            } else {
                obj.removeClass('status-0').addClass('status-1');
                obj.find('.status-now').first().text('关注');
            }
        });
    });

});

</script>
{% endblock %}
