{% extends "base.html" %}

{% block title %}
<title> 欧赔 </title>
{% endblock %}

{% block content %}


<div class="table-responsive">

<table class="table watching">
    <caption>
        今日关注比赛(共 <span id="watch-num"></span>),
        赔率变化次数 <= <span id="modify-num"></span> 次
    </caption>

    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>比赛时间</th>
            <th>联赛</th>
            <th>主队</th>
            <th>客队</th>
            <th>滚球</th>
            <th>足彩公司</th>
            <th>变化次数</th>
            <th>返还率1</th>
            <th>返还率2</th>
            <th>返还率3</th>
            <th>返还率4</th>
            <th>初盘 主胜</th>
            <th>初盘 和</th>
            <th>初盘 客胜</th>
            <th>平均值 主胜</th>
            <th>平均值 和</th>
            <th>平均值 客胜</th>
        </tr>
    </thead>

    <tbody id="watching-data">
    </tbody>
</table>

</div>


<div class="table-responsive">

<table class="table">
    <caption>今日全部比赛(共 {{ match_list|length }} 场)</caption>

    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>比赛时间</th>
            <th>联赛</th>
            <th>主队</th>
            <th>客队</th>
            <th>滚球</th>
            <th>关注状态</th>
        </tr>
    </thead>

    <tbody>
        {% for item in match_list %}
        <tr id="{{ item.match_id }}" class="unknown" href="{% url "europe" item.match_id %}">
            <th scope="row" class="counter">{{ forloop.counter }}</th>
            <td>{{ item.match_id }}</td>
            <td>{{ item.match_time }}</td>
            <td>{{ item.league }}</td>
            <td>{{ item.home|striptags }}</td>
            <td>{{ item.visiting }}</td>
            <td>{{ item.is_betting }}</td>
            <td class="status-now">待分析</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}


{% block js %}
<script>

$(document).ready(function () {
    var threshold = 5;

    var calc_avg = function (arr, idx) {
        var sum = 0.0;
        $.each(arr, function (i, data) {
            sum += Number(data[idx]);
        });
        return Math.round(100 * sum / arr.length) / 100;
    };


    $('#modify-num').text(threshold);
    $("tr.unknown").each(function() {
        var obj = $(this);

        $.getJSON(obj.attr("href"), function(result) {
            if ($.isEmptyObject(result)) {
                obj.removeClass('unknown').addClass('info');
                obj.find('.status-now').first().text('无数据');
            } else {
                obj.removeClass('unknown').addClass('danger');
                obj.find('.status-now').first().text('关注');

                $.each(result, function (company, his) {
                    if (threshold < his.length) {
                        return;
                    }
                    new_node = $('<tr class="watching-item"></tr>').append(obj.html())
                    new_node.find('.status-now').first().text(company);

                    // modify num of a company
                    $('<td></td>').text(his.length).appendTo(new_node);

                    // initial data
                    $('<td class="initial-home"></td>').text(his[0][0]).appendTo(new_node);
                    $('<td class="initial-draw"></td>').text(his[0][1]).appendTo(new_node);
                    $('<td class="initial-visiting"></td>').text(his[0][2]).appendTo(new_node);

                    // avg data
                    $('<td class="avg-home"></td>').text(calc_avg(his, 0)).appendTo(new_node);
                    $('<td class="avg-draw"></td>').text(calc_avg(his, 1)).appendTo(new_node);
                    $('<td class="avg-visiting"></td>').text(calc_avg(his, 2)).appendTo(new_node);

                    $("#watching-data").append(new_node);
                });
            }
        });
    });
});

</script>
{% endblock %}
